.App {
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:visited, a:hover, a:active {
  color: inherit;
}

#main_h1 {
  position:fixed;
  margin: 0 0 0 15px;
  font-family: 'Amatic SC', cursive;
  font-size: 300%;
}

#dog_banner {
  width: 100%;
  margin-top: 15px;
}